<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>819</integer>
	<key>capHeight</key>
	<real>666.0</real>
	<key>copyright</key>
	<string>Copyright (c) 2014 by . All rights reserved.</string>
	<key>descender</key>
	<integer>-205</integer>
	<key>familyName</key>
	<string>Kurale</string>
	<key>guidelines</key>
	<array>
		<dict>
			<key>name</key>
			<string>-137</string>
			<key>x</key>
			<real>-137.0</real>
		</dict>
		<dict>
			<key>y</key>
			<real>23.0</real>
		</dict>
		<dict>
			<key>y</key>
			<real>664.0</real>
		</dict>
	</array>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>openTypeHheaAscender</key>
	<integer>1121</integer>
	<key>openTypeHheaDescender</key>
	<integer>0</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameCompatibleFullName</key>
	<string>Kurale</string>
	<key>openTypeNameDescription</key>
	<string>Copyright (c) 2014 by . All rights reserved.</string>
	<key>openTypeNameLicense</key>
	<string>OFL 1.1</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameUniqueID</key>
	<string>FontForge 2.0 : Kurale : 19-9-2016</string>
	<key>openTypeNameVersion</key>
	<string>2.95.0</string>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>11</integer>
		<integer>6</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Selection</key>
	<array>
		<integer>7</integer>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>341</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>69</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>954</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>272</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>887</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>954</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>682</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>887</integer>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>1121</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>0</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2VendorID</key>
	<string>ACEd</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1121</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>0</integer>
	<key>postscriptBlueValues</key>
	<array>
	</array>
	<key>postscriptFamilyBlues</key>
	<array>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>Kurale</string>
	<key>postscriptFullName</key>
	<string>Kurale</string>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>postscriptSlantAngle</key>
	<real>0.0</real>
	<key>postscriptStemSnapH</key>
	<array>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
	</array>
	<key>postscriptUnderlinePosition</key>
	<real>-399.0</real>
	<key>postscriptUnderlineThickness</key>
	<real>26.0</real>
	<key>postscriptUniqueID</key>
	<integer>0</integer>
	<key>postscriptWeightName</key>
	<string>Book</string>
	<key>styleName</key>
	<string>Book</string>
	<key>trademark</key>
	<string>Kurale is a trademark of .</string>
	<key>unitsPerEm</key>
	<integer>1024</integer>
	<key>xHeight</key>
	<real>461.0</real>
</dict>
</plist>
