<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>aadeva</string>
		<string>aasigndeva</string>
		<string>abbreviationsigndeva</string>
		<string>acandradeva</string>
		<string>acombiningletterdeva</string>
		<string>acutedeva</string>
		<string>adeva</string>
		<string>aideva</string>
		<string>aisign_ra_virama.alt1</string>
		<string>aisign_ra_virama_anusvara</string>
		<string>aisigndeva</string>
		<string>aisigndeva_anusvaradeva</string>
		<string>ampersand</string>
		<string>anudattadeva</string>
		<string>anusvaradeva</string>
		<string>apostrophe</string>
		<string>asciicircum</string>
		<string>asciitilde</string>
		<string>ashortdeva</string>
		<string>asterisk</string>
		<string>at</string>
		<string>audeva</string>
		<string>ausign_ra_virama.alt1</string>
		<string>ausign_ra_virama_anusvara</string>
		<string>ausigndeva</string>
		<string>ausigndeva_anusvaradeva</string>
		<string>avagrahacombiningsigndeva</string>
		<string>avagrahadeva</string>
		<string>awdeva</string>
		<string>awsigndeva</string>
		<string>ba_virama_ra_viramadeva</string>
		<string>backslash</string>
		<string>badeva</string>
		<string>badeva_viramadeva</string>
		<string>badeva_viramadeva_radeva</string>
		<string>bar</string>
		<string>bbadeva</string>
		<string>bhadeva</string>
		<string>bhadeva_viramadeva</string>
		<string>bhadeva_viramadeva_radeva</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>cadeva</string>
		<string>cadeva_viramadeva</string>
		<string>cadeva_viramadeva_cadeva</string>
		<string>cadeva_viramadeva_radeva</string>
		<string>candrabinduavagrahadeva</string>
		<string>candrabindudeva</string>
		<string>candrabindudigitthreedeva</string>
		<string>candrabindudigittwodeva</string>
		<string>candrabinduinverteddeva</string>
		<string>candrabinduviramadeva</string>
		<string>caretdeva</string>
		<string>cent</string>
		<string>chadeva</string>
		<string>chadeva_viramadeva</string>
		<string>chadeva_viramadeva_vadeva</string>
		<string>colon</string>
		<string>comma</string>
		<string>da_ddha_ra_yadeva</string>
		<string>dadeva</string>
		<string>dadeva_rvocalicsigndeva</string>
		<string>dadeva_viramadeva</string>
		<string>dadeva_viramadeva_badeva</string>
		<string>dadeva_viramadeva_bhadeva</string>
		<string>dadeva_viramadeva_dadeva</string>
		<string>dadeva_viramadeva_dhadeva</string>
		<string>dadeva_viramadeva_gadeva</string>
		<string>dadeva_viramadeva_ghadeva</string>
		<string>dadeva_viramadeva_madeva</string>
		<string>dadeva_viramadeva_nadeva</string>
		<string>dadeva_viramadeva_radeva</string>
		<string>dadeva_viramadeva_vadeva</string>
		<string>dadeva_viramadeva_yadeva</string>
		<string>danda</string>
		<string>dbldanda</string>
		<string>ddadeva</string>
		<string>ddadeva_viramadeva</string>
		<string>ddadeva_viramadeva_ddadeva</string>
		<string>ddadeva_viramadeva_ddhadeva</string>
		<string>ddadeva_viramadeva_yadeva</string>
		<string>dddadeva</string>
		<string>dddhadeva</string>
		<string>ddhadeva</string>
		<string>ddhadeva_viramadeva</string>
		<string>ddhadeva_viramadeva_ddhadeva</string>
		<string>ddhadeva_viramadeva_yadeva</string>
		<string>dhadeva</string>
		<string>dhadeva_viramadeva</string>
		<string>dhadeva_viramadeva_radeva</string>
		<string>divide</string>
		<string>dollar</string>
		<string>dottedcircle</string>
		<string>doublecandrabinduviramadeva</string>
		<string>ecandradeva</string>
		<string>ecandralongsigndeva</string>
		<string>ecandrasigndeva</string>
		<string>edeva</string>
		<string>eight</string>
		<string>eightcombiningdigitdeva</string>
		<string>eightdeva</string>
		<string>eightdeva.np</string>
		<string>ellipsis</string>
		<string>emdash</string>
		<string>endash</string>
		<string>eprishthamatrasigndeva</string>
		<string>equal</string>
		<string>eshortdeva</string>
		<string>eshortsigndeva</string>
		<string>esign_ra_virama.alt1</string>
		<string>esign_ra_virama_anusvara</string>
		<string>esigndeva</string>
		<string>esigndeva_anusvaradeva</string>
		<string>exclam</string>
		<string>fadeva</string>
		<string>fadeva_viramadeva</string>
		<string>five</string>
		<string>fivecombiningdigitdeva</string>
		<string>fivedeva</string>
		<string>fivedeva.np</string>
		<string>four</string>
		<string>fourcombiningdigitdeva</string>
		<string>fourdeva</string>
		<string>gadeva</string>
		<string>gadeva_viramadeva</string>
		<string>gadeva_viramadeva_nadeva</string>
		<string>gadeva_viramadeva_radeva</string>
		<string>gapfillerdeva</string>
		<string>ggadeva</string>
		<string>ghadeva</string>
		<string>ghadeva_viramadeva</string>
		<string>ghadeva_viramadeva_radeva</string>
		<string>ghhadeva</string>
		<string>ghhadeva_viramadeva</string>
		<string>glottalstopdeva</string>
		<string>glyph244</string>
		<string>grave</string>
		<string>gravedeva</string>
		<string>greater</string>
		<string>hadeva</string>
		<string>hadeva_rvocalicdeva</string>
		<string>hadeva_viramadeva</string>
		<string>hadeva_viramadeva_ladeva</string>
		<string>hadeva_viramadeva_madeva</string>
		<string>hadeva_viramadeva_nadeva</string>
		<string>hadeva_viramadeva_nnadeva</string>
		<string>hadeva_viramadeva_radeva</string>
		<string>hadeva_viramadeva_vadeva</string>
		<string>hadeva_viramadeva_yadeva</string>
		<string>headstrokedeva</string>
		<string>highspacingdotdeva</string>
		<string>hyphen</string>
		<string>ideva</string>
		<string>iideva</string>
		<string>iisign_ra_virama_anusvara</string>
		<string>iisign_ra_virama_anusvara.alt1</string>
		<string>iisigndeva</string>
		<string>iisigndeva.alt1</string>
		<string>iisigndeva_anusvaradeva</string>
		<string>iisigndeva_anusvaradeva.alt1</string>
		<string>iisigndeva_ra_virama</string>
		<string>iisigndeva_ra_virama.alt1</string>
		<string>inr_currency</string>
		<string>isign_ra_virama</string>
		<string>isign_ra_virama.alt1</string>
		<string>isign_ra_virama.alt2</string>
		<string>isign_ra_virama.alt3</string>
		<string>isign_ra_virama.alt4</string>
		<string>isign_ra_virama.ja</string>
		<string>isign_ra_virama.tha</string>
		<string>isign_ra_virama_anusvara</string>
		<string>isign_ra_virama_anusvara.alt1</string>
		<string>isign_ra_virama_anusvara.alt2</string>
		<string>isign_ra_virama_anusvara.alt3</string>
		<string>isign_ra_virama_anusvara.alt4</string>
		<string>isign_ra_virama_anusvara.ja</string>
		<string>isign_ra_virama_anusvara.tha</string>
		<string>isigndeva</string>
		<string>isigndeva.alt1</string>
		<string>isigndeva.alt2</string>
		<string>isigndeva.alt3</string>
		<string>isigndeva.alt4</string>
		<string>isigndeva.ja</string>
		<string>isigndeva.tha</string>
		<string>isigndeva_anusvara.alt1</string>
		<string>isigndeva_anusvara.alt2</string>
		<string>isigndeva_anusvara.tha</string>
		<string>isigndeva_anusvaradeva</string>
		<string>isigndeva_anusvaradeva.alt3</string>
		<string>isigndeva_anusvaradeva.alt4</string>
		<string>isigndeva_anusvaradeva.ja</string>
		<string>ja_virama_ja_viramadeva</string>
		<string>ja_virama_nya_virama_radeva</string>
		<string>ja_virama_nya_viramadeva</string>
		<string>jadeva</string>
		<string>jadeva_viramadeva</string>
		<string>jadeva_viramadeva_jadeva</string>
		<string>jadeva_viramadeva_nyadeva</string>
		<string>jadeva_viramadeva_radeva</string>
		<string>jhadeva</string>
		<string>jhadeva.np</string>
		<string>jhadeva_viramadeva</string>
		<string>jhadeva_viramadeva_radeva</string>
		<string>jjadeva</string>
		<string>ka_virama_ssa_virama_radeva</string>
		<string>ka_virama_ssa_viramadeva</string>
		<string>kacombiningletterdeva</string>
		<string>kadeva</string>
		<string>kadeva_viramadeva</string>
		<string>kadeva_viramadeva_kadeva</string>
		<string>kadeva_viramadeva_ladeva</string>
		<string>kadeva_viramadeva_radeva</string>
		<string>kadeva_viramadeva_radeva.np</string>
		<string>kadeva_viramadeva_ssadeva</string>
		<string>kadeva_viramadeva_tadeva</string>
		<string>kadeva_viramadeva_vadeva</string>
		<string>khadeva</string>
		<string>khadeva_viramadeva</string>
		<string>khadeva_viramadeva_radeva</string>
		<string>khhadeva</string>
		<string>khhadeva_viramadeva</string>
		<string>ladeva</string>
		<string>ladeva.mr</string>
		<string>ladeva_viramadeva</string>
		<string>ladeva_viramadeva_ladeva</string>
		<string>ladeva_viramadeva_radeva</string>
		<string>less</string>
		<string>lladeva</string>
		<string>lladeva_viramadeva</string>
		<string>llladeva</string>
		<string>llladeva_viramadeva</string>
		<string>llvocalicdeva</string>
		<string>llvocalicsigndeva</string>
		<string>lvocalicdeva</string>
		<string>lvocalicsigndeva</string>
		<string>madeva</string>
		<string>madeva_viramadeva</string>
		<string>madeva_viramadeva_radeva</string>
		<string>minus</string>
		<string>multiply</string>
		<string>nacombiningletterdeva</string>
		<string>nadeva</string>
		<string>nadeva_viramadeva</string>
		<string>nadeva_viramadeva_alt</string>
		<string>nadeva_viramadeva_nadeva</string>
		<string>nadeva_viramadeva_radeva</string>
		<string>nep_jha_virama</string>
		<string>nga_virama_ka_virama_ssadeva</string>
		<string>nga_virama_ka_viramadeva</string>
		<string>ngadeva</string>
		<string>ngadeva_viramadeva</string>
		<string>ngadeva_viramadeva_gadeva</string>
		<string>ngadeva_viramadeva_ghadeva</string>
		<string>ngadeva_viramadeva_kadeva</string>
		<string>ngadeva_viramadeva_khadeva</string>
		<string>ngadeva_viramadeva_madeva</string>
		<string>nine</string>
		<string>ninecombiningdigitdeva</string>
		<string>ninedeva</string>
		<string>nnadeva</string>
		<string>nnadeva_viramadeva</string>
		<string>nnadeva_viramadeva_radeva</string>
		<string>nnnadeva</string>
		<string>nnnadeva_viramadeva</string>
		<string>nuktadeva</string>
		<string>numbersign</string>
		<string>nyadeva</string>
		<string>nyadeva_viramadeva</string>
		<string>nyadeva_viramadeva_cadeva</string>
		<string>nyadeva_viramadeva_jadeva</string>
		<string>nyadeva_viramadeva_radeva</string>
		<string>ocandradeva</string>
		<string>ocandrasigndeva</string>
		<string>odeva</string>
		<string>oedeva</string>
		<string>oesigndeva</string>
		<string>omdeva</string>
		<string>one</string>
		<string>onecombiningdigitdeva</string>
		<string>onedeva</string>
		<string>ooedeva</string>
		<string>ooesigndeva</string>
		<string>oshortdeva</string>
		<string>oshortsigndeva</string>
		<string>osign_ra_virama.alt1</string>
		<string>osign_ra_virama_anusvara</string>
		<string>osigndeva</string>
		<string>osigndeva_anusvaradeva</string>
		<string>pacombiningletterdeva</string>
		<string>padeva</string>
		<string>padeva_viramadeva</string>
		<string>padeva_viramadeva_ladeva</string>
		<string>padeva_viramadeva_radeva</string>
		<string>padeva_viramadeva_tadeva</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>percent</string>
		<string>period</string>
		<string>phadeva</string>
		<string>phadeva_radeva_nuktadeva</string>
		<string>phadeva_viramadeva</string>
		<string>phadeva_viramadeva_ladeva</string>
		<string>phadeva_viramadeva_radeva</string>
		<string>plus</string>
		<string>pushpikadeva</string>
		<string>qadeva</string>
		<string>qadeva_viramadeva</string>
		<string>question</string>
		<string>quotedbl</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesingle</string>
		<string>racombiningletterdeva</string>
		<string>radeva</string>
		<string>radeva_usigndeva</string>
		<string>radeva_uusigndeva</string>
		<string>radeva_viramadeva</string>
		<string>radeva_viramadeva.alt</string>
		<string>radeva_viramadeva_anusvaradeva</string>
		<string>rhadeva</string>
		<string>rradeva</string>
		<string>rrvocalicdeva</string>
		<string>rrvocalicsigndeva</string>
		<string>rvocalicdeva</string>
		<string>rvocalicsigndeva</string>
		<string>sa_virama_ta_virama_radeva</string>
		<string>sadeva</string>
		<string>sadeva_viramadeva</string>
		<string>sadeva_viramadeva_radeva</string>
		<string>semicolon</string>
		<string>seven</string>
		<string>sevencombiningdigitdeva</string>
		<string>sevendeva</string>
		<string>sha_virama_rvocalicdeva</string>
		<string>shadeva</string>
		<string>shadeva.mr</string>
		<string>shadeva_viramadeva</string>
		<string>shadeva_viramadeva.mr</string>
		<string>shadeva_viramadeva.alt</string>
		<string>shadeva_viramadeva_cadeva</string>
		<string>shadeva_viramadeva_ladeva</string>
		<string>shadeva_viramadeva_nadeva</string>
		<string>shadeva_viramadeva_radeva</string>
		<string>shadeva_viramadeva_vadeva</string>
		<string>six</string>
		<string>sixcombiningdigitdeva</string>
		<string>sixdeva</string>
		<string>slash</string>
		<string>space</string>
		<string>spacingcandrabindudeva</string>
		<string>ssadeva</string>
		<string>ssadeva_viramadeva</string>
		<string>ssadeva_viramadeva_radeva</string>
		<string>ssadeva_viramadeva_ttadeva</string>
		<string>ssadeva_viramadeva_tthadeva</string>
		<string>ta_virama_ra_viramadeva</string>
		<string>ta_virama_ta_viramadeva</string>
		<string>tadeva</string>
		<string>tadeva_viramadeva</string>
		<string>tadeva_viramadeva_radeva</string>
		<string>tadeva_viramadeva_tadeva</string>
		<string>thadeva</string>
		<string>thadeva_viramadeva</string>
		<string>thadeva_viramadeva_radeva</string>
		<string>three</string>
		<string>threecombiningdigitdeva</string>
		<string>threedeva</string>
		<string>ttadeva</string>
		<string>ttadeva_viramadeva</string>
		<string>ttadeva_viramadeva_ttadeva</string>
		<string>ttadeva_viramadeva_tthadeva</string>
		<string>ttadeva_viramadeva_vadeva</string>
		<string>ttadeva_viramadeva_yadeva</string>
		<string>tthadeva</string>
		<string>tthadeva_viraamdeva_tthadeva</string>
		<string>tthadeva_viraamdeva_yadeva</string>
		<string>tthadeva_viramadeva</string>
		<string>two</string>
		<string>twocombiningdigitdeva</string>
		<string>twodeva</string>
		<string>ucombiningletterdeva</string>
		<string>udattadeva</string>
		<string>udeva</string>
		<string>uedeva</string>
		<string>uesigndeva</string>
		<string>underscore</string>
		<string>usigndeva</string>
		<string>uudeva</string>
		<string>uuedeva</string>
		<string>uuesigndeva</string>
		<string>uusigndeva</string>
		<string>vadeva</string>
		<string>vadeva_viramadeva</string>
		<string>vadeva_viramadeva_radeva</string>
		<string>vattudeva_ulowdeva</string>
		<string>vattudeva_uulowdeva</string>
		<string>vicombiningletterdeva</string>
		<string>viramadeva</string>
		<string>viramadeva_radeva</string>
		<string>viramadeva_radeva_alt</string>
		<string>visargadeva</string>
		<string>yadeva</string>
		<string>yadeva_alt</string>
		<string>yadeva_viramadeva</string>
		<string>yadeva_viramadeva_radeva</string>
		<string>yaheavydeva</string>
		<string>yyadeva</string>
		<string>zadeva</string>
		<string>zadeva_viramadeva</string>
		<string>zero</string>
		<string>zerocombiningdigitdeva</string>
		<string>zerodeva</string>
		<string>zerowidthjoiner</string>
		<string>zerowidthnonjoiner</string>
		<string>zhadeva</string>
		<string>zhadeva.np</string>
		<string>uni1CF5</string>
		<string>uni1CF6</string>
		<string>A</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Delta</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eng</string>
		<string>Eogonek</string>
		<string>Eth</string>
		<string>Euro</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>OE</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Omega</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Thorn</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>acute</string>
		<string>acute.case</string>
		<string>acutecomb</string>
		<string>adieresis</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>apple</string>
		<string>approxequal</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>b</string>
		<string>barra</string>
		<string>breve</string>
		<string>breve.case</string>
		<string>brokenbar</string>
		<string>bullet</string>
		<string>c</string>
		<string>cacute</string>
		<string>caron</string>
		<string>caron.case</string>
		<string>caron.salt</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>circumflex.case</string>
		<string>commaaccent</string>
		<string>copyright</string>
		<string>currency</string>
		<string>d</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>degree</string>
		<string>dieresis</string>
		<string>dieresis.case</string>
		<string>dotaccent</string>
		<string>dotaccent.case</string>
		<string>dotlessi</string>
		<string>dotlessj</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>eightinferior</string>
		<string>emacron</string>
		<string>eng</string>
		<string>eogonek</string>
		<string>eslash</string>
		<string>estimated</string>
		<string>eth</string>
		<string>ethbar</string>
		<string>exclamdown</string>
		<string>f</string>
		<string>f.alt</string>
		<string>f_f</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>fi</string>
		<string>fiveinferior</string>
		<string>fj</string>
		<string>fl</string>
		<string>florin</string>
		<string>fourinferior</string>
		<string>fraction</string>
		<string>franc</string>
		<string>ft</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gdotaccent</string>
		<string>germandbls</string>
		<string>grave.case</string>
		<string>greaterequal</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>hungarumlaut</string>
		<string>hungarumlaut.case</string>
		<string>i</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>infinity</string>
		<string>integral</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>ldot</string>
		<string>lessequal</string>
		<string>lira</string>
		<string>logicalnot</string>
		<string>lozenge</string>
		<string>lslash</string>
		<string>m</string>
		<string>macron</string>
		<string>macron.case</string>
		<string>mu</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>nbspace</string>
		<string>ncaron</string>
		<string>nineinferior</string>
		<string>notequal</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>ogonek</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>onehalf</string>
		<string>oneinferior</string>
		<string>onequarter</string>
		<string>onesuperior</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>p</string>
		<string>paragraph</string>
		<string>partialdiff</string>
		<string>periodcentered</string>
		<string>perthousand</string>
		<string>pi</string>
		<string>plusminus</string>
		<string>product</string>
		<string>q</string>
		<string>questiondown</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
		<string>r</string>
		<string>racute</string>
		<string>radical</string>
		<string>rcaron</string>
		<string>registered</string>
		<string>ring</string>
		<string>ring.case</string>
		<string>ringacute</string>
		<string>ringacute.case</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>section</string>
		<string>seveninferior</string>
		<string>sixinferior</string>
		<string>sterling</string>
		<string>summation</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>thorn</string>
		<string>threeinferior</string>
		<string>threequarters</string>
		<string>threesuperior</string>
		<string>tilde</string>
		<string>tilde.case</string>
		<string>trademark</string>
		<string>twoinferior</string>
		<string>twosuperior</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uni0122</string>
		<string>uni0123</string>
		<string>uni0136</string>
		<string>uni0137</string>
		<string>uni013B</string>
		<string>uni013C</string>
		<string>uni0145</string>
		<string>uni0146</string>
		<string>uni0156</string>
		<string>uni0157</string>
		<string>uni0162</string>
		<string>uni0163</string>
		<string>uni0218</string>
		<string>uni0219</string>
		<string>uni021A</string>
		<string>uni021B</string>
		<string>uni0394</string>
		<string>uni03A9</string>
		<string>uni03BC</string>
		<string>uni0401</string>
		<string>uni0402</string>
		<string>uni0403</string>
		<string>uni0404</string>
		<string>uni0405</string>
		<string>uni0406</string>
		<string>uni0407</string>
		<string>uni0408</string>
		<string>uni0409</string>
		<string>uni040A</string>
		<string>uni040B</string>
		<string>uni040C</string>
		<string>uni040E</string>
		<string>uni040F</string>
		<string>uni0410</string>
		<string>uni0411</string>
		<string>uni0412</string>
		<string>uni0413</string>
		<string>uni0414</string>
		<string>uni0415</string>
		<string>uni0416</string>
		<string>uni0417</string>
		<string>uni0418</string>
		<string>uni0419</string>
		<string>uni041A</string>
		<string>uni041B</string>
		<string>uni041C</string>
		<string>uni041D</string>
		<string>uni041E</string>
		<string>uni041F</string>
		<string>uni0420</string>
		<string>uni0421</string>
		<string>uni0422</string>
		<string>uni0423</string>
		<string>uni0424</string>
		<string>uni0425</string>
		<string>uni0426</string>
		<string>uni0427</string>
		<string>uni0428</string>
		<string>uni0429</string>
		<string>uni042A</string>
		<string>uni042B</string>
		<string>uni042C</string>
		<string>uni042D</string>
		<string>uni042E</string>
		<string>uni042F</string>
		<string>uni0430</string>
		<string>uni0431</string>
		<string>uni0432</string>
		<string>uni0433</string>
		<string>uni0434</string>
		<string>uni0435</string>
		<string>uni0436</string>
		<string>uni0437</string>
		<string>uni0438</string>
		<string>uni0439</string>
		<string>uni043A</string>
		<string>uni043B</string>
		<string>uni043C</string>
		<string>uni043D</string>
		<string>uni043E</string>
		<string>uni043F</string>
		<string>uni0440</string>
		<string>uni0441</string>
		<string>uni0442</string>
		<string>uni0443</string>
		<string>uni0444</string>
		<string>uni0445</string>
		<string>uni0446</string>
		<string>uni0447</string>
		<string>uni0448</string>
		<string>uni0449</string>
		<string>uni044A</string>
		<string>uni044B</string>
		<string>uni044C</string>
		<string>uni044D</string>
		<string>uni044E</string>
		<string>uni044F</string>
		<string>uni0451</string>
		<string>uni0452</string>
		<string>uni0454</string>
		<string>uni0455</string>
		<string>uni0456</string>
		<string>uni0457</string>
		<string>uni0458</string>
		<string>uni0459</string>
		<string>uni045A</string>
		<string>uni045B</string>
		<string>uni045C</string>
		<string>uni045E</string>
		<string>uni045F</string>
		<string>uni0490</string>
		<string>uni0491</string>
		<string>uni2113</string>
		<string>uni2116</string>
		<string>uniF6D1</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>y.calt</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>yen</string>
		<string>ygrave</string>
		<string>z</string>
		<string>z.alt</string>
		<string>z.altacute</string>
		<string>z.altcaron</string>
		<string>z.altdotaccent</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>zeroinferior</string>
	</array>
</dict>
</plist>
