<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>acombiningletterdeva</key>
	<string>acombiningletterdeva.glif</string>
	<key>adeva</key>
	<string>adeva.glif</string>
	<key>aisigndeva</key>
	<string>aisigndeva.glif</string>
	<key>aisigndeva_anusvaradeva</key>
	<string>aisigndeva_anusvaradeva.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>anusvaradeva</key>
	<string>anusvaradeva.glif</string>
	<key>apostrophe</key>
	<string>apostrophe.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>avagrahacombiningsigndeva</key>
	<string>avagrahacombiningsigndeva.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>badeva</key>
	<string>badeva.glif</string>
	<key>badeva_viramadeva</key>
	<string>badeva_viramadeva.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>bhadeva</key>
	<string>bhadeva.glif</string>
	<key>bhadeva_viramadeva</key>
	<string>bhadeva_viramadeva.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>cadeva_viramadeva</key>
	<string>cadeva_viramadeva.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>chadeva</key>
	<string>chadeva.glif</string>
	<key>chadeva_viramadeva</key>
	<string>chadeva_viramadeva.glif</string>
	<key>chadeva_viramadeva_vadeva</key>
	<string>chadeva_viramadeva_vadeva.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>dadeva</key>
	<string>dadeva.glif</string>
	<key>dadeva_viramadeva_bhadeva</key>
	<string>dadeva_viramadeva_bhadeva.glif</string>
	<key>dadeva_viramadeva_dhadeva</key>
	<string>dadeva_viramadeva_dhadeva.glif</string>
	<key>dadeva_viramadeva_ghadeva</key>
	<string>dadeva_viramadeva_ghadeva.glif</string>
	<key>dadeva_viramadeva_vadeva</key>
	<string>dadeva_viramadeva_vadeva.glif</string>
	<key>ddadeva_viramadeva_ddhadeva</key>
	<string>ddadeva_viramadeva_ddhadeva.glif</string>
	<key>ddhadeva</key>
	<string>ddhadeva.glif</string>
	<key>ddhadeva_viramadeva_yadeva</key>
	<string>ddhadeva_viramadeva_yadeva.glif</string>
	<key>dhadeva_viramadeva</key>
	<string>dhadeva_viramadeva.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>edeva</key>
	<string>edeva.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eightdeva.np</key>
	<string>eightdeva.np.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>esigndeva</key>
	<string>esigndeva.glif</string>
	<key>esigndeva_anusvaradeva</key>
	<string>esigndeva_anusvaradeva.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>gadeva</key>
	<string>gadeva.glif</string>
	<key>gadeva_viramadeva_nadeva</key>
	<string>gadeva_viramadeva_nadeva.glif</string>
	<key>gapfillerdeva</key>
	<string>gapfillerdeva.glif</string>
	<key>ghadeva_viramadeva</key>
	<string>ghadeva_viramadeva.glif</string>
	<key>ghhadeva_viramadeva</key>
	<string>ghhadeva_viramadeva.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>hadeva</key>
	<string>hadeva.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>ideva</key>
	<string>ideva.glif</string>
	<key>ja_virama_nya_viramadeva</key>
	<string>ja_virama_nya_viramadeva.glif</string>
	<key>jadeva</key>
	<string>jadeva.glif</string>
	<key>jadeva_viramadeva</key>
	<string>jadeva_viramadeva.glif</string>
	<key>jadeva_viramadeva_nyadeva</key>
	<string>jadeva_viramadeva_nyadeva.glif</string>
	<key>jhadeva</key>
	<string>jhadeva.glif</string>
	<key>jhadeva.np</key>
	<string>jhadeva.np.glif</string>
	<key>jhadeva_viramadeva</key>
	<string>jhadeva_viramadeva.glif</string>
	<key>ka_virama_ssa_viramadeva</key>
	<string>ka_virama_ssa_viramadeva.glif</string>
	<key>kadeva_viramadeva</key>
	<string>kadeva_viramadeva.glif</string>
	<key>khadeva_viramadeva</key>
	<string>khadeva_viramadeva.glif</string>
	<key>ladeva_viramadeva</key>
	<string>ladeva_viramadeva.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>madeva</key>
	<string>madeva.glif</string>
	<key>madeva_viramadeva</key>
	<string>madeva_viramadeva.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>nacombiningletterdeva</key>
	<string>nacombiningletterdeva.glif</string>
	<key>nadeva</key>
	<string>nadeva.glif</string>
	<key>nadeva_viramadeva_alt</key>
	<string>nadeva_viramadeva_alt.glif</string>
	<key>nadeva_viramadeva_nadeva</key>
	<string>nadeva_viramadeva_nadeva.glif</string>
	<key>nep_jha_virama</key>
	<string>nep_jha_virama.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nuktadeva</key>
	<string>nuktadeva.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>omdeva</key>
	<string>omdeva.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>pacombiningletterdeva</key>
	<string>pacombiningletterdeva.glif</string>
	<key>padeva_viramadeva</key>
	<string>padeva_viramadeva.glif</string>
	<key>padeva_viramadeva_ladeva</key>
	<string>padeva_viramadeva_ladeva.glif</string>
	<key>padeva_viramadeva_radeva</key>
	<string>padeva_viramadeva_radeva.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>phadeva_viramadeva</key>
	<string>phadeva_viramadeva.glif</string>
	<key>phadeva_viramadeva_ladeva</key>
	<string>phadeva_viramadeva_ladeva.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>pushpikadeva</key>
	<string>pushpikadeva.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>racombiningletterdeva</key>
	<string>racombiningletterdeva.glif</string>
	<key>radeva</key>
	<string>radeva.glif</string>
	<key>radeva_viramadeva</key>
	<string>radeva_viramadeva.glif</string>
	<key>sadeva</key>
	<string>sadeva.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>shadeva</key>
	<string>shadeva.glif</string>
	<key>shadeva_viramadeva</key>
	<string>shadeva_viramadeva.glif</string>
	<key>shadeva_viramadeva_nadeva</key>
	<string>shadeva_viramadeva_nadeva.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>ta_virama_ra_viramadeva</key>
	<string>ta_virama_ra_viramadeva.glif</string>
	<key>thadeva_viramadeva</key>
	<string>thadeva_viramadeva.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>ttadeva</key>
	<string>ttadeva.glif</string>
	<key>ttadeva_viramadeva_ttadeva</key>
	<string>ttadeva_viramadeva_ttadeva.glif</string>
	<key>ttadeva_viramadeva_tthadeva</key>
	<string>ttadeva_viramadeva_tthadeva.glif</string>
	<key>ttadeva_viramadeva_vadeva</key>
	<string>ttadeva_viramadeva_vadeva.glif</string>
	<key>tthadeva</key>
	<string>tthadeva.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>ucombiningletterdeva</key>
	<string>ucombiningletterdeva.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uudeva</key>
	<string>uudeva.glif</string>
	<key>vadeva_viramadeva</key>
	<string>vadeva_viramadeva.glif</string>
	<key>vicombiningletterdeva</key>
	<string>vicombiningletterdeva.glif</string>
	<key>yadeva_alt</key>
	<string>yadeva_alt.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
