<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.kc0_1</key>
	<dict>
		<key>public.kern2.kc0_11</key>
		<real>-68.359397888183594</real>
		<key>public.kern2.kc0_13</key>
		<real>-39.0625</real>
		<key>public.kern2.kc0_2</key>
		<real>-19.531200408935547</real>
		<key>public.kern2.kc0_3</key>
		<real>-63.476600646972656</real>
		<key>public.kern2.kc0_4</key>
		<real>-78.125</real>
		<key>public.kern2.kc0_7</key>
		<real>-29.296899795532227</real>
	</dict>
	<key>public.kern1.kc0_10</key>
	<dict>
		<key>public.kern2.kc0_11</key>
		<real>117.18800354003906</real>
		<key>public.kern2.kc0_6</key>
		<real>107.4219970703125</real>
	</dict>
	<key>public.kern1.kc0_11</key>
	<dict>
		<key>public.kern2.kc0_1</key>
		<real>-68.359397888183594</real>
	</dict>
	<key>public.kern1.kc0_2</key>
	<dict>
		<key>public.kern2.kc0_1</key>
		<real>-29.296899795532227</real>
	</dict>
	<key>public.kern1.kc0_3</key>
	<dict>
		<key>public.kern2.kc0_10</key>
		<real>-24.414100646972656</real>
		<key>public.kern2.kc0_5</key>
		<real>-39.0625</real>
	</dict>
	<key>public.kern1.kc0_4</key>
	<dict>
		<key>public.kern2.kc0_13</key>
		<real>-39.0625</real>
		<key>public.kern2.kc0_7</key>
		<real>-19.531200408935547</real>
	</dict>
	<key>public.kern1.kc0_5</key>
	<dict>
		<key>public.kern2.kc0_11</key>
		<real>-68.359397888183594</real>
		<key>public.kern2.kc0_3</key>
		<real>-48.828098297119141</real>
		<key>public.kern2.kc0_4</key>
		<real>-68.359397888183594</real>
	</dict>
	<key>public.kern1.kc0_6</key>
	<dict>
		<key>public.kern2.kc0_1</key>
		<real>-63.476600646972656</real>
	</dict>
	<key>public.kern1.kc0_7</key>
	<dict>
		<key>public.kern2.kc0_1</key>
		<real>-29.296899795532227</real>
	</dict>
	<key>public.kern1.kc0_8</key>
	<dict>
		<key>public.kern2.kc0_1</key>
		<real>-63.476600646972656</real>
		<key>public.kern2.kc0_10</key>
		<real>-68.359397888183594</real>
		<key>public.kern2.kc0_12</key>
		<integer>-83</integer>
		<key>public.kern2.kc0_5</key>
		<real>-92.773399353027344</real>
		<key>public.kern2.kc0_7</key>
		<real>-68.359397888183594</real>
		<key>public.kern2.kc0_8</key>
		<integer>-83</integer>
		<key>public.kern2.kc0_9</key>
		<real>-53.710899353027344</real>
	</dict>
	<key>public.kern1.kc0_9</key>
	<dict>
		<key>public.kern2.kc0_1</key>
		<real>-78.125</real>
		<key>public.kern2.kc0_5</key>
		<real>-78.125</real>
		<key>public.kern2.kc0_7</key>
		<real>-92.773399353027344</real>
	</dict>
</dict>
</plist>
