<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>25D154CF-C470-4D68-A10D-6356F2BE0292</key>
		<dict>
			<key>HH</key>
			<string>56 </string>
			<key>HV</key>
			<string>92</string>
			<key>OH</key>
			<string>54</string>
			<key>OV</key>
			<string>100</string>
			<key>nV</key>
			<string>85</string>
			<key>nd</key>
			<string>43</string>
			<key>oH</key>
			<string>48</string>
			<key>oV</key>
			<string>97</string>
			<key>tH</key>
			<string>58</string>
		</dict>
	</dict>
	<key>UFOFormat</key>
	<integer>3</integer>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSCornerRadius</key>
		<integer>15</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>25D154CF-C470-4D68-A10D-6356F2BE0292</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>background</string>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>uni0162</string>
		<string>uni021A</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>uni0237</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>n_altdeva</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>germandbls</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uni0163</string>
		<string>uni021B</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>f.alt</string>
		<string>z.alt</string>
		<string>z.altacute</string>
		<string>z.altcaron</string>
		<string>z.altdotaccent</string>
		<string>y.calt</string>
		<string>f_f</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>fi</string>
		<string>fl</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>uni0410</string>
		<string>uni0411</string>
		<string>uni0412</string>
		<string>uni0413</string>
		<string>uni0403</string>
		<string>uni0490</string>
		<string>uni0414</string>
		<string>uni0415</string>
		<string>uni0400</string>
		<string>uni0401</string>
		<string>uni0416</string>
		<string>uni0417</string>
		<string>uni0418</string>
		<string>uni0419</string>
		<string>uni040D</string>
		<string>uni041A</string>
		<string>uni040C</string>
		<string>uni041B</string>
		<string>uni041C</string>
		<string>uni041D</string>
		<string>uni041E</string>
		<string>uni041F</string>
		<string>uni0420</string>
		<string>uni0421</string>
		<string>uni0422</string>
		<string>uni0423</string>
		<string>uni040E</string>
		<string>uni0424</string>
		<string>uni0425</string>
		<string>uni0427</string>
		<string>uni0426</string>
		<string>uni0428</string>
		<string>uni0429</string>
		<string>uni040F</string>
		<string>uni042C</string>
		<string>uni042A</string>
		<string>uni042B</string>
		<string>uni0409</string>
		<string>uni040A</string>
		<string>uni0405</string>
		<string>uni0404</string>
		<string>uni042D</string>
		<string>uni0406</string>
		<string>uni0407</string>
		<string>uni0408</string>
		<string>uni040B</string>
		<string>uni042E</string>
		<string>uni042F</string>
		<string>uni0402</string>
		<string>uni0462</string>
		<string>uni046A</string>
		<string>uni0472</string>
		<string>uni0474</string>
		<string>uni0492</string>
		<string>uni0494</string>
		<string>uni0496</string>
		<string>uni0498</string>
		<string>uni049A</string>
		<string>uni049C</string>
		<string>uni04A0</string>
		<string>uni04A2</string>
		<string>uni0524</string>
		<string>uni04AA</string>
		<string>uni04AE</string>
		<string>uni04B0</string>
		<string>uni04B6</string>
		<string>uni04B8</string>
		<string>uni04BA</string>
		<string>uni04C0</string>
		<string>uni04C1</string>
		<string>uni04CB</string>
		<string>uni04D0</string>
		<string>uni04D2</string>
		<string>uni04D6</string>
		<string>uni04D8</string>
		<string>uni04DC</string>
		<string>uni04DE</string>
		<string>uni04E2</string>
		<string>uni04E4</string>
		<string>uni04E6</string>
		<string>uni04E8</string>
		<string>uni04EE</string>
		<string>uni04F0</string>
		<string>uni04F2</string>
		<string>uni04F4</string>
		<string>uni04F6</string>
		<string>uni04F8</string>
		<string>uni051A</string>
		<string>uni051C</string>
		<string>uni0430</string>
		<string>uni0431</string>
		<string>uni0432</string>
		<string>uni0433</string>
		<string>uni0453</string>
		<string>uni0491</string>
		<string>uni0434</string>
		<string>uni0435</string>
		<string>uni0450</string>
		<string>uni0451</string>
		<string>uni0436</string>
		<string>uni0437</string>
		<string>uni0438</string>
		<string>uni0439</string>
		<string>uni045D</string>
		<string>uni043A</string>
		<string>uni045C</string>
		<string>uni043B</string>
		<string>uni043C</string>
		<string>uni043D</string>
		<string>uni043E</string>
		<string>uni043F</string>
		<string>uni0440</string>
		<string>uni0441</string>
		<string>uni0442</string>
		<string>uni0443</string>
		<string>uni045E</string>
		<string>uni0444</string>
		<string>uni0445</string>
		<string>uni0447</string>
		<string>uni0446</string>
		<string>uni0448</string>
		<string>uni0449</string>
		<string>uni045F</string>
		<string>uni044C</string>
		<string>uni044A</string>
		<string>uni044B</string>
		<string>uni0459</string>
		<string>uni045A</string>
		<string>uni0455</string>
		<string>uni0454</string>
		<string>uni044D</string>
		<string>uni0456</string>
		<string>uni0457</string>
		<string>uni0458</string>
		<string>uni045B</string>
		<string>uni044E</string>
		<string>uni044F</string>
		<string>uni0452</string>
		<string>uni0463</string>
		<string>uni046B</string>
		<string>uni0473</string>
		<string>uni0475</string>
		<string>uni0493</string>
		<string>uni0495</string>
		<string>uni0497</string>
		<string>uni0499</string>
		<string>uni049B</string>
		<string>uni049D</string>
		<string>uni04A1</string>
		<string>uni04A3</string>
		<string>uni0525</string>
		<string>uni04AB</string>
		<string>uni04AF</string>
		<string>uni04B1</string>
		<string>uni04B7</string>
		<string>uni04B9</string>
		<string>uni04BB</string>
		<string>uni04CF</string>
		<string>uni04C2</string>
		<string>uni04CC</string>
		<string>uni04D1</string>
		<string>uni04D3</string>
		<string>uni04D7</string>
		<string>uni04D9</string>
		<string>uni04DD</string>
		<string>uni04DF</string>
		<string>uni04E3</string>
		<string>uni04E5</string>
		<string>uni04E7</string>
		<string>uni04E9</string>
		<string>uni04EF</string>
		<string>uni04F1</string>
		<string>uni04F3</string>
		<string>uni04F5</string>
		<string>uni04F7</string>
		<string>uni04F9</string>
		<string>uni051B</string>
		<string>uni051D</string>
		<string>uni04A4</string>
		<string>uni04A5</string>
		<string>uni04D4</string>
		<string>uni04D5</string>
		<string>uni0394</string>
		<string>uni03A9</string>
		<string>uni03BC</string>
		<string>pi</string>
		<string>uni0904</string>
		<string>uni0972</string>
		<string>uni0905</string>
		<string>uni0906</string>
		<string>uni0907</string>
		<string>uni0908</string>
		<string>uni0909</string>
		<string>uni090A</string>
		<string>uni090B</string>
		<string>uni0960</string>
		<string>uni090C</string>
		<string>uni0961</string>
		<string>uni090D</string>
		<string>uni090E</string>
		<string>uni090F</string>
		<string>uni0910</string>
		<string>uni0911</string>
		<string>uni0912</string>
		<string>uni0913</string>
		<string>uni0914</string>
		<string>uni0973</string>
		<string>uni0974</string>
		<string>uni0975</string>
		<string>uni0976</string>
		<string>uni0977</string>
		<string>uni093E</string>
		<string>uni093F</string>
		<string>uni0940</string>
		<string>uni0949</string>
		<string>uni094A</string>
		<string>uni094B</string>
		<string>uni094C</string>
		<string>uni094E</string>
		<string>uni093B</string>
		<string>uni094F</string>
		<string>uni0915</string>
		<string>uni0916</string>
		<string>uni0917</string>
		<string>uni0918</string>
		<string>uni0919</string>
		<string>uni091A</string>
		<string>uni091B</string>
		<string>uni091C</string>
		<string>uni091D</string>
		<string>uni091E</string>
		<string>uni091F</string>
		<string>uni0920</string>
		<string>uni0921</string>
		<string>uni0922</string>
		<string>uni0923</string>
		<string>uni0924</string>
		<string>uni0925</string>
		<string>uni0926</string>
		<string>uni0927</string>
		<string>uni0928</string>
		<string>uni0929</string>
		<string>uni092A</string>
		<string>uni092B</string>
		<string>uni092C</string>
		<string>uni092D</string>
		<string>uni092E</string>
		<string>uni092F</string>
		<string>uni0930</string>
		<string>uni0931</string>
		<string>uni0932</string>
		<string>uni0933</string>
		<string>uni0934</string>
		<string>uni0935</string>
		<string>uni0936</string>
		<string>uni0937</string>
		<string>uni0938</string>
		<string>uni0939</string>
		<string>uni0958</string>
		<string>uni0959</string>
		<string>uni095A</string>
		<string>uni095B</string>
		<string>uni095C</string>
		<string>uni095D</string>
		<string>uni095E</string>
		<string>uni095F</string>
		<string>uni0979</string>
		<string>uni097A</string>
		<string>uni097B</string>
		<string>uni097C</string>
		<string>uni097E</string>
		<string>uni097F</string>
		<string>uniA8FB</string>
		<string>uni0932.mr</string>
		<string>uni0936.mr</string>
		<string>uni091D.np</string>
		<string>uni0915094D0930</string>
		<string>uni0915094D0915</string>
		<string>uni0915094D0924</string>
		<string>uni0915094D0932</string>
		<string>uni0915094D0935</string>
		<string>uni0915094D0937</string>
		<string>uni0916094D0930</string>
		<string>uni0917094D0930</string>
		<string>uni0917094D0928</string>
		<string>uni0918094D0930</string>
		<string>uni0919094D0915</string>
		<string>uni0919094D0916</string>
		<string>uni0919094D0917</string>
		<string>uni0919094D0918</string>
		<string>uni0919094D092E</string>
		<string>uni091A094D0930</string>
		<string>uni091A094D091A</string>
		<string>uni091B094D0935</string>
		<string>uni091C094D0930</string>
		<string>uni091C094D091C</string>
		<string>uni091C094D091E</string>
		<string>uni091D094D0930</string>
		<string>uni091E094D0930</string>
		<string>uni091E094D091A</string>
		<string>uni091E094D091C</string>
		<string>uni091F094D091F</string>
		<string>uni091F094D0920</string>
		<string>uni091F094D092F</string>
		<string>uni091F094D0935</string>
		<string>uni0921094D0921</string>
		<string>uni0921094D0922</string>
		<string>uni0921094D092F</string>
		<string>uni0922094D0922</string>
		<string>uni0922094D092F</string>
		<string>uni0923094D0930</string>
		<string>uni0924094D0930</string>
		<string>uni0924094D0924</string>
		<string>uni0925094D0930</string>
		<string>uni0926094D0930</string>
		<string>uni0926094D0917</string>
		<string>uni0926094D0918</string>
		<string>uni0926094D0926</string>
		<string>uni0926094D0927</string>
		<string>uni0926094D0928</string>
		<string>uni0926094D092C</string>
		<string>uni0926094D092D</string>
		<string>uni0926094D092E</string>
		<string>uni0926094D092F</string>
		<string>uni0926094D0935</string>
		<string>uni0927094D0930</string>
		<string>uni0928094D0930</string>
		<string>uni0928094D0928</string>
		<string>uni092A094D0930</string>
		<string>uni092A094D0924</string>
		<string>uni092A094D0932</string>
		<string>uni092B0930093C</string>
		<string>uni092B094D0930</string>
		<string>uni092B094D0932</string>
		<string>uni092C094D0930</string>
		<string>uni092D094D0930</string>
		<string>uni092E094D0930</string>
		<string>uni092F094D0930</string>
		<string>uni0932094D0930</string>
		<string>uni0932094D0932</string>
		<string>uni0935094D0930</string>
		<string>uni0936094D0930</string>
		<string>uni0936094D091A</string>
		<string>uni0936094D0928</string>
		<string>uni0936094D0932</string>
		<string>uni0936094D0935</string>
		<string>uni0937094D0930</string>
		<string>uni0937094D091F</string>
		<string>uni0937094D0920</string>
		<string>uni0938094D0930</string>
		<string>uni0939090B</string>
		<string>uni0939094D0930</string>
		<string>uni0939094D0923</string>
		<string>uni0939094D0928</string>
		<string>uni0939094D092E</string>
		<string>uni0939094D092F</string>
		<string>uni0939094D0932</string>
		<string>uni0939094D0935</string>
		<string>uni0915094D0930.np</string>
		<string>uni0915094D</string>
		<string>uni0916094D</string>
		<string>uni0917094D</string>
		<string>uni0918094D</string>
		<string>uni0919094D</string>
		<string>uni091A094D</string>
		<string>uni091B094D</string>
		<string>uni091C094D</string>
		<string>uni091D094D</string>
		<string>uni091E094D</string>
		<string>uni091F094D</string>
		<string>uni0920094D</string>
		<string>uni0921094D</string>
		<string>uni0922094D</string>
		<string>uni0923094D</string>
		<string>uni0924094D</string>
		<string>uni0925094D</string>
		<string>uni0926094D</string>
		<string>uni0927094D</string>
		<string>uni0928094D</string>
		<string>uni0929094D</string>
		<string>uni092A094D</string>
		<string>uni092B094D</string>
		<string>uni092C094D</string>
		<string>uni092D094D</string>
		<string>uni092E094D</string>
		<string>uni092F094D</string>
		<string>uni0932094D</string>
		<string>uni0933094D</string>
		<string>uni0934094D</string>
		<string>uni0935094D</string>
		<string>uni0936094D</string>
		<string>uni0937094D</string>
		<string>uni0938094D</string>
		<string>uni0939094D</string>
		<string>uni0958094D</string>
		<string>uni0959094D</string>
		<string>uni095A094D</string>
		<string>uni095B094D</string>
		<string>uni095E094D</string>
		<string>uni0936094D.alt</string>
		<string>uni0936094D.mr</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>uni2080</string>
		<string>uni2081</string>
		<string>uni2082</string>
		<string>uni2083</string>
		<string>uni2084</string>
		<string>uni2085</string>
		<string>uni2086</string>
		<string>uni2087</string>
		<string>uni2088</string>
		<string>uni2089</string>
		<string>uni00B9</string>
		<string>uni00B2</string>
		<string>uni00B3</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>uni0966</string>
		<string>uni0967</string>
		<string>uni0968</string>
		<string>uni0969</string>
		<string>uni096A</string>
		<string>uni096B</string>
		<string>uni096C</string>
		<string>uni096D</string>
		<string>uni096E</string>
		<string>uni096F</string>
		<string>uni096B.np</string>
		<string>uni096E.np</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>uni097D</string>
		<string>uni0964</string>
		<string>uni0965</string>
		<string>uni0970</string>
		<string>uniA8F8</string>
		<string>uniA8F9</string>
		<string>uniA8FA</string>
		<string>uni0971</string>
		<string>space</string>
		<string>uni00A0</string>
		<string>uni200C</string>
		<string>uni200D</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>Euro</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>florin</string>
		<string>franc</string>
		<string>lira</string>
		<string>sterling</string>
		<string>uni20AE</string>
		<string>uni20B4</string>
		<string>uni20B8</string>
		<string>uni20B9</string>
		<string>uni20BD</string>
		<string>yen</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>notequal</string>
		<string>greater</string>
		<string>less</string>
		<string>greaterequal</string>
		<string>lessequal</string>
		<string>plusminus</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>logicalnot</string>
		<string>infinity</string>
		<string>integral</string>
		<string>uni2126</string>
		<string>uni2206</string>
		<string>product</string>
		<string>summation</string>
		<string>radical</string>
		<string>partialdiff</string>
		<string>uni00B5</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>uni25CC</string>
		<string>lozenge</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>degree</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>dagger</string>
		<string>uni2113</string>
		<string>daggerdbl</string>
		<string>estimated</string>
		<string>uni2116</string>
		<string>asciicircum</string>
		<string>uniF8FF</string>
		<string>uni093D</string>
		<string>uni0950</string>
		<string>uni0308</string>
		<string>uni0307</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>uni030B</string>
		<string>uni0302</string>
		<string>uni030C</string>
		<string>uni0306</string>
		<string>uni030A</string>
		<string>tildecomb</string>
		<string>uni0304</string>
		<string>uni0326</string>
		<string>uni0327</string>
		<string>uni0328</string>
		<string>uni0335</string>
		<string>uni0308.case</string>
		<string>uni0307.case</string>
		<string>gravecomb.case</string>
		<string>acutecomb.case</string>
		<string>uni030B.case</string>
		<string>uni0302.case</string>
		<string>uni030C.case</string>
		<string>uni0306.case</string>
		<string>uni0304.case</string>
		<string>uni030C.salt</string>
		<string>uni02BC</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>caron.salt</string>
		<string>uni0941</string>
		<string>uni0942</string>
		<string>uni0943</string>
		<string>uni0944</string>
		<string>uni0962</string>
		<string>uni0963</string>
		<string>uni0945</string>
		<string>uni0901</string>
		<string>uni0900</string>
		<string>uni0946</string>
		<string>uni0947</string>
		<string>uni0948</string>
		<string>uni0902</string>
		<string>uni094D</string>
		<string>uni093C</string>
		<string>uni094D09300902</string>
		<string>uni0955</string>
		<string>uni093A</string>
		<string>uni0956</string>
		<string>uni0957</string>
		<string>uni0951</string>
		<string>uni0952</string>
		<string>uni0953</string>
		<string>uni0954</string>
		<string>uniA8E0</string>
		<string>uniA8E1</string>
		<string>uniA8E2</string>
		<string>uniA8E3</string>
		<string>uniA8E4</string>
		<string>uniA8E5</string>
		<string>uniA8E6</string>
		<string>uniA8E7</string>
		<string>uniA8E8</string>
		<string>uniA8E9</string>
		<string>uniA8EA</string>
		<string>uniA8EB</string>
		<string>uniA8EC</string>
		<string>uniA8ED</string>
		<string>uniA8EE</string>
		<string>uniA8EF</string>
		<string>uniA8F0</string>
		<string>uniA8F1</string>
		<string>uni094D0930.alt</string>
		<string>uni0903</string>
		<string>uniA8F2</string>
		<string>uniA8F3</string>
		<string>uniA8F4</string>
		<string>uniA8F5</string>
		<string>uniA8F6</string>
		<string>uniA8F7</string>
		<string>aisigndeva_anusvaradeva</string>
		<string>aisign_ra_virama.alt1</string>
		<string>aisign_ra_virama_anusvara</string>
		<string>ausign_ra_virama.alt1</string>
		<string>ausign_ra_virama_anusvara</string>
		<string>ausigndeva_anusvaradeva</string>
		<string>ba_virama_ra_viramadeva</string>
		<string>barra</string>
		<string>brevecombcy.case</string>
		<string>brevecombcy</string>
		<string>da_ddha_ra_yadeva</string>
		<string>da_rvocalicsigndevadeva</string>
		<string>descendercy.case</string>
		<string>descendercy</string>
		<string>eslash</string>
		<string>esign_ra_virama.alt1</string>
		<string>esigndeva_anusvaradeva</string>
		<string>esign_ra_virama_anusvara</string>
		<string>ethbar</string>
		<string>fj</string>
		<string>ft</string>
		<string>glyph244</string>
		<string>halant_ra_altdeva</string>
		<string>iisign_ra_virama_anusvara</string>
		<string>iisign_ra_virama_anusvara.alt1</string>
		<string>iisigndeva.alt1</string>
		<string>iisigndeva_anusvaradeva.alt1</string>
		<string>iisigndeva_anusvaradeva</string>
		<string>iisigndeva_ra_virama.alt1</string>
		<string>iisigndeva_ra_virama</string>
		<string>isign_ra_virama.alt1</string>
		<string>isign_ra_virama.alt2</string>
		<string>isign_ra_virama.alt3</string>
		<string>isign_ra_virama.ja</string>
		<string>isign_ra_virama</string>
		<string>isign_ra_virama.alt4</string>
		<string>isign_ra_virama.tha</string>
		<string>isign_ra_virama_anusvara.alt1</string>
		<string>isign_ra_virama_anusvara.alt2</string>
		<string>isign_ra_virama_anusvara.alt3</string>
		<string>isign_ra_virama_anusvara.alt4</string>
		<string>isign_ra_virama_anusvara</string>
		<string>isign_ra_virama_anusvara.tha</string>
		<string>isign_ra_virama_anusvara.ja</string>
		<string>isigndeva.alt2</string>
		<string>isigndeva.alt1</string>
		<string>isigndeva.alt3</string>
		<string>isigndeva.alt4</string>
		<string>isigndeva.ja</string>
		<string>isigndeva.tha</string>
		<string>isigndeva_anusvara.alt1</string>
		<string>isigndeva_anusvara.alt2</string>
		<string>isigndeva_anusvaradeva.alt3</string>
		<string>isigndeva_anusvaradeva.alt4</string>
		<string>isigndeva_anusvara.tha</string>
		<string>isigndeva_anusvaradeva</string>
		<string>isigndeva_anusvaradeva.ja</string>
		<string>ja_virama_nya_virama_radeva</string>
		<string>ja_virama_ja_viramadeva</string>
		<string>ja_virama_nya_viramadeva</string>
		<string>ka_virama_ssa_virama_radeva</string>
		<string>ka_virama_ssa_viramadeva</string>
		<string>NULL</string>
		<string>nep_jha_virama</string>
		<string>nga_virama_ka_viramadeva</string>
		<string>nga_virama_ka_virama_ssadeva</string>
		<string>osign_ra_virama.alt1</string>
		<string>osign_ra_virama_anusvara</string>
		<string>osigndeva_anusvaradeva</string>
		<string>ra_usigndevadeva</string>
		<string>ra_uusigndevadeva</string>
		<string>ringacute.case</string>
		<string>ringacute</string>
		<string>ringcombcomb.case</string>
		<string>sa_virama_ta_virama_radeva</string>
		<string>sha_virama_rvocalicdeva</string>
		<string>ta_virama_ra_viramadeva</string>
		<string>ta_virama_ta_viramadeva</string>
		<string>tildecombcomb.case</string>
		<string>ttha_viraamdeva_tthadeva</string>
		<string>ttha_viraamdeva_yadeva</string>
		<string>uni1CF5</string>
		<string>uni1CF6</string>
		<string>vattudeva_ulowdeva</string>
		<string>vattudeva_uulowdeva</string>
		<string>verticalbarcy.case</string>
		<string>verticalbarcy</string>
		<string>ya_altdeva</string>
		<string>zhadeva.np</string>
		<string>uniF6D1</string>
	</array>
</dict>
</plist>
